## Deliverable 2. Create a Customer Travel Destinations Map.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [41]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/gobinaththangaiya/Documents/GitHub/World_Weather_Analysis/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,rikitea,PF,-23.1203,-134.9692,71.58,63,14,6.67,few clouds
1,1,ushuaia,AR,-54.8000,-68.3000,26.29,94,99,5.82,light snow
2,2,khatanga,RU,71.9667,102.5000,36.09,100,99,9.46,overcast clouds
3,3,atuona,PF,-9.8000,-139.0333,79.54,74,94,12.91,overcast clouds
4,4,belmonte,BR,-15.8631,-38.8828,70.30,78,28,3.76,scattered clouds

In [42]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [43]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,atuona,PF,-9.8000,-139.0333,79.54,74,94,12.91,overcast clouds
5,5,cap malheureux,MU,-19.9842,57.6142,81.46,68,10,4.00,light rain
11,11,kapaa,US,22.0752,-159.3190,75.52,84,75,6.67,light rain
16,16,dong hoi,VN,17.4833,106.6000,85.82,79,97,7.92,overcast clouds
17,17,east london,ZA,-33.0153,27.9116,76.14,31,0,13.80,clear sky
21,21,harper,LR,4.3750,-7.7169,84.07,73,43,8.37,scattered clouds
23,23,mwingi,KE,-0.9344,38.0601,79.12,49,53,8.99,broken clouds
25,25,takoradi,GH,4.8845,-1.7554,85.71,67,64,4.50,broken clouds
28,28,kampene,CD,-3.6000,26.6667,77.72,74,100,0.67,overcast clouds
33,33,kahului,US,20.8947,-156.4700,76.84,80,1,9.22,clear sky

In [44]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                198
City                   198
Country                196
Lat                    198
Lng                    198
Max Temp               198
Humidity               198
Cloudiness             198
Wind Speed             198
Current Description    198
dtype: int64

In [45]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,atuona,PF,-9.8000,-139.0333,79.54,74,94,12.91,overcast clouds
5,5,cap malheureux,MU,-19.9842,57.6142,81.46,68,10,4.00,light rain
11,11,kapaa,US,22.0752,-159.3190,75.52,84,75,6.67,light rain
16,16,dong hoi,VN,17.4833,106.6000,85.82,79,97,7.92,overcast clouds
17,17,east london,ZA,-33.0153,27.9116,76.14,31,0,13.80,clear sky
...,...,...,...,...,...,...,...,...,...,...
693,693,nettuno,IT,41.4826,12.6790,80.35,53,26,5.37,scattered clouds
699,699,kirgiz-miyaki,RU,53.6324,54.7979,77.63,39,10,7.29,clear sky
701,701,zatoka,UA,46.0725,30.4654,79.34,68,14,7.78,few clouds
702,702,ambulu,ID,-8.3450,113.6058,79.99,86,100,5.30,overcast clouds
705,705,popondetta,PG,-8.7537,148.2534,75.81,83,99,1.97,overcast clouds

In [46]:
preferred_cities_df.count()

City_ID                196
City                   196
Country                196
Lat                    196
Lng                    196
Max Temp               196
Humidity               196
Cloudiness             196
Wind Speed             196
Current Description    196
dtype: int64

In [47]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,atuona,PF,79.54,overcast clouds,-9.8000,-139.0333,
5,cap malheureux,MU,81.46,light rain,-19.9842,57.6142,
11,kapaa,US,75.52,light rain,22.0752,-159.3190,
16,dong hoi,VN,85.82,overcast clouds,17.4833,106.6000,
17,east london,ZA,76.14,clear sky,-33.0153,27.9116,
21,harper,LR,84.07,scattered clouds,4.3750,-7.7169,
23,mwingi,KE,79.12,broken clouds,-0.9344,38.0601,
25,takoradi,GH,85.71,broken clouds,4.8845,-1.7554,
28,kampene,CD,77.72,overcast clouds,-3.6000,26.6667,
33,kahului,US,76.84,clear sky,20.8947,-156.4700,

In [49]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

# Indicate that the Data Loading is complete.
print("-----------------------------")
print('Data Retrieval Complete')
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [58]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,atuona,PF,79.54,overcast clouds,-9.8000,-139.0333,Villa Enata
5,cap malheureux,MU,81.46,light rain,-19.9842,57.6142,Pereybere Hotel & Spa
11,kapaa,US,75.52,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,dong hoi,VN,85.82,overcast clouds,17.4833,106.6000,Nam Long Hotel
17,east london,ZA,76.14,clear sky,-33.0153,27.9116,Tu Casa
21,harper,LR,84.07,scattered clouds,4.3750,-7.7169,Screensaver
23,mwingi,KE,79.12,broken clouds,-0.9344,38.0601,Thorn Tree by The Address
25,takoradi,GH,85.71,broken clouds,4.8845,-1.7554,Raybow International Hotel
28,kampene,CD,77.72,overcast clouds,-3.6000,26.6667,
33,kahului,US,76.84,clear sky,20.8947,-156.4700,Maui Seaside Hotel

In [62]:
# 8a. Create the output File (CSV)
output_data_file = '/Users/gobinaththangaiya/Documents/GitHub/World_Weather_Analysis/Vacation_Search/WeatherPy_Vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file,  index_label='City_ID')

In [63]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[['Lat', 'Lng']]

In [53]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))