## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,hilo,US,19.7297,-155.0900,71.80,91,40,4.61,light rain
1,1,san patricio,US,28.0170,-97.5169,83.07,75,30,15.52,scattered clouds
2,2,hermanus,ZA,-34.4187,19.2345,64.80,66,86,18.57,overcast clouds
3,3,mar del plata,AR,-38.0023,-57.5575,64.09,48,0,13.00,clear sky
4,4,ushuaia,AR,-54.8000,-68.3000,29.86,80,75,21.85,light snow

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,san patricio,US,28.0170,-97.5169,83.07,75,30,15.52,scattered clouds
5,5,montague,US,42.5356,-72.5351,76.01,67,4,1.01,clear sky
7,7,butaritari,KI,3.0707,172.7902,82.94,78,89,18.54,light rain
9,9,cockburn town,TC,21.4612,-71.1419,78.73,76,0,11.30,clear sky
13,13,korla,CN,41.7597,86.1469,82.53,12,36,10.76,scattered clouds
15,15,pizarro,CO,4.9533,-77.3660,81.68,79,87,3.89,overcast clouds
17,17,mansehra,PK,34.3333,73.2000,78.33,25,0,2.75,clear sky
19,19,westport,US,41.1415,-73.3579,78.58,67,20,1.99,few clouds
27,27,cabinda,AO,-5.5500,12.2000,84.34,74,20,8.05,few clouds
30,30,muros,ES,42.7762,-9.0603,79.68,65,100,12.73,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             239
City                   239
Country                235
Lat                    239
Lng                    239
Max Temp               239
Humidity               239
Cloudiness             239
Wind Speed             239
Current Description    239
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,san patricio,US,28.0170,-97.5169,83.07,75,30,15.52,scattered clouds
5,5,montague,US,42.5356,-72.5351,76.01,67,4,1.01,clear sky
7,7,butaritari,KI,3.0707,172.7902,82.94,78,89,18.54,light rain
9,9,cockburn town,TC,21.4612,-71.1419,78.73,76,0,11.30,clear sky
13,13,korla,CN,41.7597,86.1469,82.53,12,36,10.76,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,batticaloa,LK,7.7102,81.6924,83.35,69,11,15.14,few clouds
681,681,puerto colombia,CO,10.9878,-74.9547,86.09,66,97,6.98,overcast clouds
685,685,kalmunai,LK,7.4167,81.8167,83.32,68,37,4.83,scattered clouds
686,686,kendari,ID,-3.9450,122.4989,76.80,88,14,1.41,few clouds
688,688,fabiansebestyen,HU,46.6833,20.4667,75.27,49,68,5.10,broken clouds

In [10]:
preferred_cities_df.count()

Unnamed: 0             235
City                   235
Country                235
Lat                    235
Lng                    235
Max Temp               235
Humidity               235
Cloudiness             235
Wind Speed             235
Current Description    235
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,san patricio,US,83.07,scattered clouds,28.0170,-97.5169,
5,montague,US,76.01,clear sky,42.5356,-72.5351,
7,butaritari,KI,82.94,light rain,3.0707,172.7902,
9,cockburn town,TC,78.73,clear sky,21.4612,-71.1419,
13,korla,CN,82.53,scattered clouds,41.7597,86.1469,
15,pizarro,CO,81.68,overcast clouds,4.9533,-77.3660,
17,mansehra,PK,78.33,clear sky,34.3333,73.2000,
19,westport,US,78.58,few clouds,41.1415,-73.3579,
27,cabinda,AO,84.34,few clouds,-5.5500,12.2000,
30,muros,ES,79.68,overcast clouds,42.7762,-9.0603,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,san patricio,US,83.07,scattered clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
5,montague,US,76.01,clear sky,42.5356,-72.5351,Two Rivers Bed and Breakfast
7,butaritari,KI,82.94,light rain,3.0707,172.7902,Isles Sunset Lodge
9,cockburn town,TC,78.73,clear sky,21.4612,-71.1419,Osprey Beach Hotel
13,korla,CN,82.53,scattered clouds,41.7597,86.1469,Gulisitan Hotel
15,pizarro,CO,81.68,overcast clouds,4.9533,-77.3660,Hotel Limonar
17,mansehra,PK,78.33,clear sky,34.3333,73.2000,Pine Park Hotel & Resorts
19,westport,US,78.58,few clouds,41.1415,-73.3579,The Westport Inn
27,cabinda,AO,84.34,few clouds,-5.5500,12.2000,Hotel Maiombe
30,muros,ES,79.68,overcast clouds,42.7762,-9.0603,Apartment Av. Castelao

In [29]:
# 8a. Create the output File (CSV)
output_data_file = './Vacation_Search/WeatherPy_Vacation.csv'
# 8b. Export the City_Data into a csv
preferred_cities_df.to_csv("WeatherPy_Vacation.csv")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))